menuconfig APP_HEARTBEAT_PERIOD_MS
    int "App heartbeat period ms"
    range 100 2000
    default 500
    help
        Choose LED period time on-off

# Quedan replegadas todas las configuraciones de zepyr, mas prolijo
menu "Zephyr system"
source "Kconfig.zephyr"    
endmenu